body{
    background-color: gold;
}


.nav{
    position: relative;
    width: 99.7%;
    top: 150;
    left: 0;
    list-style-type: none;
    background-color: darkgreen;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 2px solid rgb(156, 156, 0);

}


ul.nav li{
    float:left;

}

ul.nav li a{
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: block;
    padding: 10px 18px;
    color: rgb(234, 255, 0);
    text-decoration: none;
    border: 1px solid rgb(255, 238, 0);
}

ul.nav a:hover{
    background-color: #b5da00;
    color: rgb(10, 42, 0);
    font-weight: bolder;
    font-size: 31px;

} 

.active{
    background-color: rgb(0, 71, 6);
    font-weight: bold;
}

h1{
    background-color: green;
    text-align: center;
    color: gold;
    margin-top: -10px;
    margin-bottom: 0;
    padding: 10px;
    font-size: 50px;    
    letter-spacing: 15px;
    font-family: "madrone-std", serif;
    font-style: normal;

}

#skew{
    transform: skew(20deg,-10deg);
}



.footer{
    text-align: center;
    background-color: rgb(0, 65, 0);
    left: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
    padding: 5px;
    font-size: 20px;
    font-family: "madrone-std", serif;
    font-style: normal;
    font-weight: bolder;
    color: gold;

}
.grid-container{
    display: grid;
    grid-template-columns: 35% 35% 29.2%;
    grid-gap: 5px;
    margin-top: 20px;
}

.grid-item{
    background-color: rgb(0, 147, 0);
    text-align: center;
    color: white;
    font-size: 20px;
    padding: 5px;
    margin: 0;
}

.Washington{
    grid-column: 1/span 3;
    grid-row: 1;
    text-align: center;
    background-color: rgb(0, 147, 0);
    width: 100%;
    font-size: 40px;
    color: rgb(255, 204, 0);
    text-shadow: 2px 2px rgb(113, 96, 0);
    font-weight: 900;

    
}

.paragraph1{
    grid-column: 1 /span 2;
    grid-row: 3;
}

.image1{
    grid-column: 3;
    grid-row: 3;
}

p{
    color: rgb(0, 255, 42);
    font-weight: 900;
    text-align: center;
    text-shadow: 2px 2px black;
    font-size: 25px;
    padding: 0;
    font-family: "input-sans-compressed", sans-serif;
    font-weight: 700;
    font-style: normal;


}

.paragraph2{
    grid-column: 3;
    grid-row: 4;

}

.image2{
    grid-column: 1/span 2;
    grid-row: 4;
}

.paragraph3{
    grid-column: 1 /span 2;
    grid-row: 5;
}


.paragraph4{
    grid-column: 1/span 3;
    grid-row: 6;
}

.nparagraph1{
    grid-column: 1/span 3;
    grid-row: 1;
}

.natureimage1{
    grid-column: 1;
    grid-row: 2;
}

.natureimage2{
    grid-column: 2;
    grid-row: 2;
}

.natureimage3{
    grid-column: 3;
    grid-row: 2;
}
.video2{
    grid-column: 1 /span 3;
    grid-row: 3/span 4;
}

.nparagraph2{
    grid-column: 1 /span 2;
    grid-row: 7;
}

.natureimage4{
    grid-column: 3;
    grid-row: 7;
}

.natureimage5{
    grid-column: 1;
    grid-row: 8;
}

.natureimage6{
    grid-column: 2;
    grid-row: 8;
}

.natureimage7{
    grid-column: 3;
    grid-row: 8;
}

.nparagraph3{
    grid-column: 1/span 3;
    grid-row: 9;
}

.skew2{
    transform: skew(20deg,-20deg);
}


